@import '../../../styles/core.scss';
.main-bg {
  background-color: #FAFAFC;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: $primary-font-family;
  
  .bg-container {
    // background: url('~assets/images/login-bg.png') no-repeat center;
    // background-size: cover;
    width: 85%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-color: #FAFAFC;
    margin: 3rem auto;
    border-radius: 12px;

    .bg-overlay-1 {
      background: 'FFFFFF';
      width: 42%;
      height: 100%;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding-left: 70px;
      border-radius: 0 12px 12px 0;
    }

    .bg-overlay-2 {
      background: url('../../../assets/images/login-bg.png') no-repeat center;
      background-size: cover;
      width: 58%;
      height: 100%;
      display: flex;
      border-radius: 12px;

      .blue-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 76, 255, 0.6);
        border-radius: 12px;
        position: relative;
      }
      .green-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 128, 0, 0.5);
        border-radius: 12px;
        position: relative;
      }
    }
    .text-wrapper {
      width: 350px;
      position: absolute;
      bottom: 10px;
      .banner-text {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.1;
        margin-left: 1.5rem;
        margin-bottom: 5px;
      }
      .banner-sub-text {
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 13px;
        margin-left: 1.5rem;
        font-weight: 200;
      }
    }

    .dots-wrapper {
      display: flex;
      margin-left: 1.5rem; 
      .dots{
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 4px;
      }
      .dots-bg {
        background-color: #fff;
      }
    }

    .logo-container {
      background-size: contain;
      display: flex;
      width: 6rem;
      height: 4rem;
      opacity: 1;
      margin-top: 2rem;
    }
    .img-logo {
      width: 100%;
      height: 100%;
    }
    .img-wid {
      width: 60%;
      height: 4.5rem;
    }
    .page-icon {
      width: 4rem;
      height: 5rem;
      margin-top: 2.3rem;

      .company-icon {
        width: 80%;
      }
    }

    .login-h1 {
      color: #000000;
      font-size: 1.4rem;
      text-align: left;
      font-weight: 600;
      font-family: $primary-font-family;
      margin: 10px 0 0;
      opacity: 1;
      line-height: 1.1;
    }
    .login-form-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

    .email-container {
      margin-top: 20px;
    }

    .change-num {
      display: flex;
      justify-content: space-between;
      margin-top: .5rem;
    }

    .phone-number-container {
      width: 15rem;
      height: 40px;
      display: flex;
      flex-direction: row;
      border: 1px solid #98979D;
      border-radius: 5px;
    }

    .flag {
      background: url('../../../assets/images/flag.png') center no-repeat;
      background-size: contain;
      width: 65px;
      margin-right: 10px;
    }
    .flag-input {
      width: 100%;
    }

    .text-input {
      width: 100%;
      height: 100%;
      padding: .5rem;
      border: none;
      outline: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 18px;
      font-family: $primary-font-family;
    }

    .text-input::-webkit-input-placeholder {
      font-weight: 400;
      color: #000000;
      font-style: normal;
      font-size: 15px;
      font-family: $primary-font-family;
    }

    .btn-wrapper {
      width: 58%;
      // display: flex;
      // justify-content: space-between;
      margin-top: 1.4rem;
    }
    .mar-right {
      margin-right: 25px;
    }
    // .btn-mar {
    //   margin-top: 4rem;
    // }
    .btn-wrapper-width {
      width: 75%;
    }
    .m-top {
      margin-top: 2rem;
    }

    .verify-btn {
      display: flex;
      height: 42px;
      width: 100%;
      background-color: #0031ff;
      border-radius: 5px;
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      padding: 0px;
      justify-content: center;
      font-family: $primary-font-family;
      text-transform: capitalize;
    }
    .verify-btn:hover {
      background-color: #004cff;
      color: #fff;
    }
    .resend {
      font-size: 12px;
      font-weight: 300;
      text-transform: capitalize;
      font-family: $primary-font-family;
      margin-top: 1rem;
    }
    .color-text {
      color: red !important;
    }
    .btn-bg {
      height: 42px;
      width: 100%;
      border-radius: 5px;
      font-size: 12px;
      background-color: #fafafc;
    }
    // .MuiButton-textPrimary {
    //     color: #ffffff;
    //     margin: 0 auto;
    //     font-size: 15px;
    //     font-weight: 600;
    // }
    .MuiTouchRipple-root {
      outline: none;
    }

    .label {
      width: 83%;
      color: #000000;
      font-size: 0.9rem;
      font-family: $primary-font-family;
      line-height: 1.3;
      margin-top: 5px;
    }
    .label-verify {
      width: 64%;
      font-weight: 600;
      color: #949494;
      font-size: 20px;
      line-height: 1.3;
      margin-top: 1rem;
    }

    .help-link-container {
      display: flex;
      align-items: flex-start;
      width: 47%;
      flex-direction: row;
      margin-left: 20px;
    }

    .link {
      color: #ff0000;
      font-weight: 400;
      margin-top: 5px;
      font-size: 13px;
      font-family: $primary-font-family;
    }

    .otp-btn {
      height: 45px;
      width: 220px;
      padding-top: 0px;

      .label {
        color: white;
      }
    }

    .otp-verification-container {
      display: flex;
      flex-direction: column;
    }

    .otp-container {
      flex: 1;
      height: 100%;
      width: 100%;
    }
    .otp-input {
      border: none;
      width: 2rem;
      height: 2.5rem;
      color: #98979d;
      margin: 20px 0.5rem 10px;
      border-radius: 4;
      font-size: 2.5rem;
      outline: none;
      border-bottom: 1px solid #98979d;
      text-align: center;
      background-position: bottom;
      background-attachment: fixed;
    }

    .heading-container {
      width: 95%;
      // margin-top: 30px
    }

    .otp-action-btn {
      display: flex;
      flex-direction: row;
      margin-top: 25px;

      .btn-verify {
        display: flex;
        width: 50%;
        height: 35px;
        width: 120px;
        background-color: #004cff;
        border-radius: 3px;
        padding: 6px 0px 6px 0px;

        .label {
          color: white;
          margin-left: 40px;
          padding: 0;
        }
      }
      .link-resend {
        color: #757575;
        // width: 50%;
        flex: 1;
        font-weight: bold;
        align-self: center;
        margin-left: 40px;
      }
    }

    .re-enter-link {
      margin-top: 20px;
    }

    .resend {
      font-size: 12px;
      color: #949494;
    }

    //company page css

    .company-btn {
      height: 60px;
      width: 13rem;
      border-radius: 10px;
      background-color: #f4f5fa;
      font-size: 15px;
      color: #080808;
      font-family: $primary-font-family;
      margin-right: 20px;
      padding: 0 0.8rem;
      display: flex;
      justify-content: flex-start;

      img {
        margin-right: 15px;
        width: 32px;
      }
    }
    // .company-btn:hover {
    //     border: 1px solid #98979D;
    //     background-color: transparent;
    // }

    .company-btn.active {
      border: 1px solid #bfbfbf;
      background-color: transparent;
    }

    iframe {
      width: 450px;
      height: 450px;
      border: 0;
      border-radius: 8px;
      background: $app-bg-white;
    }

    @include media(xxlarge) {
      .bg-container {
        width: 70%;
        height: 75vh;
        margin: 9rem auto;
    }
      .bg-overlay-1 {
        padding-left: 8rem;
      }
      .logo-container {
        width: 10rem;
        height: 6.5rem;
        margin-top: 6rem;
      }
      .login-h1 {
        font-size: 2.8rem;
      }
      .text-input {
        font-size: 25px;
      }
      .link {
        font-size: 17px;
      }
      .verify-btn {
        margin-top: 1rem;
      }
      .m-top {
        margin-top: 1rem;
      }
      .label {
        font-size: 1.5rem;
      }
      .resend {
        font-size: 21px;
        margin-top: 0.8rem;
      }
      .banner-text {
        font-size: 5rem;
        width: 80%;
        height: 37vh;
        margin-left: 6rem;
      }
      .page-icon {
        width: 6.5rem;
        height: 7.5rem;
        margin-top: 6rem;
      }
      .btn-wrapper-width {
        width: 60%;
        margin-top: 2rem;
      }
      .company-btn {
        width: 14rem;
      }
      .label {
        width: 80%;
      }
      .help-link-container {
        width: 60%;
      }
      .btn-bg {
        height: 52px;
        width: 16rem;
      }
    }

    @include media(xlarge) {
      .logo-container {
        margin-top: 5rem;
      }
      .page-icon {
        margin-top: 4rem;
      }
      .label {
        width: 78%;
      }
      .btn-wrapper {
        margin-top: 1.8rem;
      }
      .m-top {
        margin-top: 2rem;
      }
      .change-num {
        margin-top: 3rem;
      }
      .banner-text {
        height: 35vh;
        width: 79%;
      }
      .btn-wrapper-width {
        width: 70%;
      }
      .btn-mar {
        margin-top: 4rem;
      }
      .help-link-container {
        width: 50%;
      }
    }

    @include media(desktop) {
      .banner-text {
        height: 35vh;
        font-size: 2.5rem;
      }
      .btn-wrapper {
        width: 85%;
      }
    }
    
    @include media(tablet) {
      .banner-text {
        font-size: 2rem;
        margin-left: 3rem;
        height: 35vh;
      }
      .btn-wrapper {
        width: 90%;
      }
      .btn-wrapper-width {
        width: 100%;
      }
      .verify-btn {
        width: 8rem;
      }
      .logo-container {
        width: 6rem;
        height: 4rem;
      }
      .page-icon {
        width: 4.5rem;
        height: 5.5rem;
      }
      .login-h1 {
        font-size: 1.3rem;
      }
      .label {
        font-size: 0.8rem;
      }
    }

    @include media(mobile down) {
      iframe {
        width: 90vw;
      }
    }
  } 
}

.error-msg {
  @include error;
}

.white-txt {
  color: #fff;
}
