@import '../../../styles/core.scss';

.nav{
  padding: 0 10%;
  background: #fff;
  border-bottom: 1px solid #E3E2E8;

  .list{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    font-size: 0;
    display: flex;
    >a{
      position: relative;
      font-size: 16px;
      margin: 0;
      padding: 0;
      border-right: 1px solid #E3E2E8;
      color: #98979d;
      font-size: 12px;
      font-weight: 500;
      font-family: $primary-font-family;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-grow: 1;
      cursor: pointer;
      &:last-child{
        border: none;
      }
      &.active{
        font-weight: bold;
        color: #000000;
      }
      &:hover, &.active{
        .icon{
          svg{
            fill:#0031ff;
          }
        }
        &:before{
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background: #0031ff;
          bottom: 0;
          left: 0;
        }
      }
    }
    .icon{
      background-size: 15px;
      background-repeat: no-repeat;
      height: 20px;
      width: 38px;
      vertical-align: top;
      display: inline-block;
      background-position: center;
    }
  }
  .dashboard{
    .icon{
      background-image: url('../../../assets/images/dashboard-gray.svg');
      &.active{
        background-image: url('../../../assets/images/mob-dashboard.svg') !important;
      }
    }
  }
  .request{
    .icon{
      background-image: url('../../../assets/images/request.svg');
      &.active{
        background-image: url('../../../assets/images/mob-create_request.svg');
      }
    }
  }
  .transection{
    .icon{
      background-image: url('../../../assets/images/transection.svg');
      &.active{
        background-image: url('../../../assets/images/mob-transcation.svg');
      }
    }
  }
  .profile{
    .icon{
      background-image: url('../../../assets/images/profile.svg');
      &.active{
        background-image: url('../../../assets/images/mob-profile.svg');
      }
    }
  }
  .help{
    .icon{
      background-image: url('../../../assets/images/help.svg');
      &.active{
        background-image: url('../../../assets/images/mob-help.svg');
      }
    }
  }
  .settings{
    .icon{
      background-image: url('../../../assets/images/settings-gray.svg');
      &.active{
        background-image: url('../../../assets/images/mob-settings.svg')
      }
    }
  }
}

@include media(mobile) {
  .nav {
    display: none;
  }
}
