@import '../../styles/core.scss';

.dashboard-container {
  width: 85%;
  max-width: 1250px;
  margin: 25px auto 0;
  font-family: $primary-font-family;
  .Mui-disabled {
    background-color: #a6a6a6 !important;
  }
  .dashboard-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    .card {
      width: 65%;
      height: 100%;
      padding: 1rem 2rem;
      border-radius: 18px;
      background-color: #fff;
      box-shadow: 0 2px 2px #8d8a8a1a;

      .card-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .heading {
          font-size: 15px;
          color: #000000;
          font-weight: 600;
          position: relative;
        }
        .tab-menu {
          display: none;
        }
        .sub-heading {
          font-size: 10px;
          color: #b5b5b8;
          padding-top: 5px;
          margin-right: 20px;

          .info-icon {
            width: 10px;
            margin-right: 5px;
            cursor: pointer;
          }
          .refresh {
            margin-left: 5px;
            font-size: 10px;
            color: #0031ff;
            cursor: pointer;

            :hover {
              color: #0031ff;
            }
          }

          .MuiPaper-elevation1 {
            box-shadow: none;
          }
          .MuiTabs-root {
            min-height: 30px;
          }
          .MuiTab-root {
            min-width: auto;
            padding: 0px 15px;
            border-radius: 30px;
            background: #f1f0f5;
            color: #98979d;
            font-size: 10px;
            font-weight: 400;
            min-height: 30px;
            text-transform: none;
            font-family: $primary-font-family;
            margin-right: 10px;
          }
          .MuiTab-root:hover {
            color: #0031ff;
            background-color: #e7ebff;
          }
          .tab-active {
            color: #0031ff;
            background-color: #e7ebff;
          }
        }
        .mr-0 {
          margin-right: 0;
        }
      }

      .card-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        // margin-top: 10px;

        .card-content-left {
          width: 47%;
          .text {
            font-size: 12px;
            line-height: 1.4;
            width: 80%;
          }
          .button-box {
            margin: 17px 0px;
            height: 45px;
            display: flex;

            .create-request-btn {
              display: flex;
              height: 45px;
              width: 13rem;
              background-color: #0031ff;
              border-radius: 5px;
              color: #fff;
              font-size: 13px;
              font-weight: 500;
              padding: 0px;
              justify-content: center;
              font-family: $primary-font-family;
              text-transform: capitalize;
              // margin-left: 28px;
            }
          }
        }

        .card-content-right {
          width: 53%;
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          .column {
            width: 45%;
            height: 100%;
            line-height: 1.2;

            .amount-heading {
              font-size: 10px;
              color: #b5b5b8;
              margin-bottom: 0;
              font-weight: 600;
            }
            .amount {
              font-size: 24px;
              font-weight: 600;
            }
            .amount-blue {
              color: #0031ff;
            }
            .amount-green {
              color: #00af4c;
            }
            .amount-red {
              color: #fe5f5a;
            }
            .amount-black {
              color: #000;
            }
          }
        }

        //..........table

        .table-row {
          height: 40px;
          .icon-wrapper {
            width: 45px;
          }
          .table-icon {
            width: 12px;
            margin-right: 5px;
          }

          .color {
            color: #0031ff;
            font-weight: 600;
            font-size: 12px;
          }

          .col-width {
            font-size: 11px;
          }
          .table-heading {
            min-width: 85px;
            height: 100%;
            font-weight: 600;
            color: #000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .reason-row {
              text-transform: capitalize;
              padding-left: 4px;
            }
          }
          .table-date {
            min-width: 140px;
            font-weight: 400;
            color: #98979d;
            // margin-left: 10px;
          }
          .table-time {
            margin-left: 6px;
          }
          .table-amount {
            min-width: 70px;
            font-weight: 600;
            color: #000;
          }

          .table-repayment-amount {
            min-width: 140px;
            font-weight: 600;
            color: #000;
          }

          .transfer-mode {
            min-width: 120px;
            color: #0031ff;
          }
          .table-status {
            min-width: 90px;
            .yellow {
              color: #feb25a;
              margin-bottom: 3px;
            }
            .green {
              color: #00af4c;
            }
            .red {
              color: #ed1c24;
            }
          }
        }
        .table-row:hover {
          background-color: #fafafc;
        }
      }
      .table-height {
        height: auto;
        overflow: auto;
      }
      .table-height::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }

      // .table-height::-webkit-scrollbar-track {
      //   background:#fff;
      // }

      // .table-height::-webkit-scrollbar-thumb {
      //   background: #0031FF;
      // }

      // .table-height::-webkit-scrollbar-thumb:hover {
      //  background: #0031FF;
      // }
    }

    .bannerColor {
      background-color: #3030aa;
    }

    .banner {
      width: 34%;
      margin-left: 10px;
      // display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      box-shadow: none;
      border: none;
      background: none;
      text-align: center;

      img {
        width: 100%;
        // height: 100%;
        border-radius: 8px;
        // object-fit: scale-down;
      }
    }

    .height-banner {
      height: 335px;
    }
  }
  .height-225 {
    height: 200px;
    min-height: 210px;
  }
  .height-335 {
    height: auto;
    max-height: 335px;
  }
}

@include media(tablet) {
  .dashboard-container {
    width: 95%;

    .dashboard-card {
      flex-direction: column;

      .card{
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
      }

      .card.recent-card{
        height: auto;
      }

      .card,
      .banner {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        height: 189px;
        margin-left: 0;

        img{
          width: 50%;
        }

        .card-content {
          .table-row {
            .icon-wrapper {
              width: 50px;
            }
          }
        }
      }
    }
    .height-225 {
      height: auto;
    }
  }
}

@include media(mobile) {
  .dashboard-container {
    width: 95%;

    .dashboard-card {
      flex-direction: column;

      .card,
      .banner {
        width: 100%;
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 18px;
        .card-header {
          flex-direction: column;

          .heading {
            margin-bottom: 0;
          }
          .tab-menu {
            width: 15px;
            display: block;
            position: absolute;
            right: 0;
            top: 0;

            .tab-menu-icon {
              width: 10px;
              height: 20px;
            }
          }
        }
        .card-content {
          flex-direction: column-reverse;

          .card-content-right {
            width: 100%;
            .amount {
              margin-bottom: 15px;
            }
          }
          .card-content-left {
            width: 100%;
            margin-top: 15px;
            .text {
              width: 100%;
            }

            .button-box {
              margin-bottom: 0;
              display: block;
              .create-request-btn {
                width: 100%;
              }
            }
          }

          .table-row {
            display: flex;
            margin-bottom: 10px;
            .icon-wrapper {
              width: 30px;
            }
            .table-heading {
              flex-direction: column;
              min-width: 110px;
              align-items: baseline;
              .table-date {
                min-width: auto;
              }
            }
            .transfer-mode,
            .table-status {
              min-width: 140px;
            }
            .table-amount {
              width: auto;
              min-width: 100px;
            }
            .table-repayment-amount {
              min-width: 140px;
            }
          }
        }
        .mr-0 {
          display: none;
        }
      }
      .banner {
        height: 200px;
        margin-left: 0;
      }
    }
    .height-225,
    .height-335 {
      height: auto;
    }
  }
}
