@import '../../styles/core.scss';

.transection-container {
  background: #fff;
  padding: 2%;
  border-radius: 20px;
  margin: 40px auto;
  width: 80%;
}

// @media only screen and (max-width: 411px) {
//   .transection-container {
//     width: 100%;
//     margin: 0 0 0 0;
//     // padding: 1.5rem;
//   }
// }

// @media only screen and (max-width: 768px) {
//   .transection-container {
//     width: 80%;
//     margin: 0;
//     padding: 1.5rem;
//   }
// }

@include media(mobile) {
  .transection-container {
    width: 90vw;
    margin: 0;
  }
}
