@import '../header/header.scss';

.notification-container {
  float: right;
  font-family: $primary-font-family;
  .notification {
    // float: right;
    // height: 80px;
    // width: 80px;
    display: flex;
    .icon {
      background-image: url('../../../assets/images/notification.svg');
      background-size: 21px;
      background-repeat: no-repeat;
      margin-top: 20px;
      // height: 36px;
      // margin: 17px 0;
      // width: 80px;
      display: block;
      background-position: center;
      cursor: pointer;
    }
  }
}
.notification-wrapper {
  width: 350px;
  height: auto;
  max-height: 320px;
  background-color: #FAFAFC;
  border: 1px solid #8D8A8A1A;
  box-shadow: 0 2px 2px #8D8A8A1A;
  border-radius: 5px;
  padding: 13px;
  overflow: auto;

  .notification-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .notification-heading {
      font-size: 16px;
      color: #000;
    }

    .sub-heading {
      .MuiPaper-elevation1 {
        box-shadow: none;
        background: transparent;
      }
      .MuiTabs-root {
        min-height: 30px;
      }
      .MuiTab-root {
        min-width: auto;
        padding: 3px 15px;
        border-radius: 30px;
        background: #F1F0F5;
        color:#98979D;
        font-size: 10px;
        font-weight: 400;
        min-height: 30px;
        text-transform: none;
        font-family: $primary-font-family;
        margin-right: 8px;
      }
      .MuiTab-root:hover {
        color:#0031FF;
        background-color: #E7EBFF;
      }
      .tab-active {
        color:#0031FF;
        background-color: #E7EBFF;
      }
    }
  }

  .notification-tab-wrapper {
    width: 100%;
    margin-top: 5px;
    
    .notification-tabs {
      width: 100%;
      height: 50px;
      background-color: #fff;
      border-radius: 10px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px;

      .notification-border {
        width: 3px;
        height: 100%;
      }
      .border-red {
        background-color: #DA3732;
      }
      .border-green {
        background-color: #00AF4C;
      }
      .border-lightBlue {  
        background-color: #00BAD7;
      }
      .border-blue {  
        background-color: #0031FF;
       
      }

      .notification-icon {
        width: 29px;
        height: 29px;
        border-radius: 50%;

        img {
          width: 100%;
        }
      }
      .notification-heading {
        width: 240px;
        height: 100%;
        overflow: hidden;
        
        .msg-heading {
          color: #000000;
          font-size: 12px;
          font-weight: 600;
          margin: 0;
        }
        .msg-content {
          font-size: 12px;
          color:#98979D;
          margin: 0;
          line-height: 1;
          white-space: nowrap;
        }
      }
      .notification-cross {
        width: 15px;
        height: 20px;

        img {
          width: 100%;
        }
      }

    }
    .notification-tabs:hover {
      box-shadow: 0 2px 10px #0500001A;
    }
  }
}

.notification-wrapper::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}


@include media(mobile) {
  .notification-wrapper {
    width: 95%;
    margin: 0 auto;

    .notification-tab-wrapper .notification-tabs { 
      .notification-icon {
        margin: 0 10px;
      }
      .notification-heading {
        width: 220px;
      }
    }
  }
}