@import '../../styles/core.scss';

.datagrid-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: white;
}
.datagrid-heading {
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  align-items: center;
  color: '#000000';
  text-align: left;
  font-weight: bold;
  margin-bottom: 16px;
}

.datagrid-heading-container {
  display: flex;
  margin-top: 40px;
  margin-left: 10px;
  // align-items: center;
}

.row:hover {
  background-color: #8d8a8a1a;
}
.datagridTable {
  width: 100%;
  th {
    background: #fafafc;
    color: #0031ff;
    font-size: 14px;
    padding-left: 20px;
  }
  td {
    img {
      height: 20px;
      margin: 5px 0;
    }
    font-size: 12px;
  }
  // th,
  td {
    padding-left: 20px;
    line-height: 40px;

    .yellow {
      color: #feb25a;
    }
    .green {
      color: #00af4c;
    }
    .red {
      color: #ed1c24;
    }
  }
}

.see-all {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  color: #0031ff;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 4rem;
}

.datagrid-footer {
  text-align: right;
  padding: 2rem 0.01rem;
  font-size: 14px;
}

.footer-button {
  cursor: pointer;
  background-color: white;
  color: #0031ff;
  font-weight: bold;
  outline: none;
  border: none;

  &-action {
    cursor: pointer;
    padding: 0px;
    background-color: white;
    color: #0031ff;
    outline: none;
    border: none;
  }

  &-disabled {
    border: none;
    background-color: white;
    color: #98979d;
    opacity: 0.75;
  }
}

@include media(mobile) {
  .container {
    height: 100vh;
  }
  .datagrid-footer {
    text-align: right;
    width: 90vw;
    position: fixed;
    // right: 5;
    bottom: 0;
    // overflow-x: hidden;
  }
  .datagridTable {
    .column-header {
      line-height: 1rem;
    }
  }

  .row {
    .row-item {
      line-height: 20px;
    }
  }
}
