.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 45px;
  background-color: white;
}

.heading {
  font-size: 16px;
  color: '#000000';
  text-align: left;
  font-weight: bold;
  margin-bottom: 16px;
}

.column-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}

.column-text {
  color: #0031ff;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.row-item {
  width: 12.5%;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

.row-item-dashboard {
  width: 20%;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
}

.row-img {
  width: 12.5%;
  text-align: left;
  font-size: 12px;
  margin-bottom: 12px;
}

.img {
  height: 30px;
  width: 30px;
}

.column-reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  margin-right: 20;
}

.reason-heading {
  margin-bottom: 0;
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.reason-sub-heading {
  margin-bottom: 0;
  font-size: 12px;
  color: #98979d;
}

.heading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #0031ff;
  font-size: 12px;
}
/*# sourceMappingURL=DataGrid.css.map */