@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.dialog-width .modal-heading h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.dialog-width .modal-content p {
  font-size: 1.35rem;
  line-height: 1.3;
  width: 85%;
  font-family: 'Poppins', sans-serif;
}

.dialog-width .modal-btn {
  font-size: 1.28rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  margin-right: 2rem;
}
/*# sourceMappingURL=modal.css.map */