@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../../styles/core.scss';

.error-msg {
    color: $app-color-error !important;
    font-size: 11px;
}

.dialog-width {
    // max-width: 100%;
    margin: 0 auto;

    .MuiDialog-paperWidthSm {
        max-width: 65%;
    }
    .MuiDialogTitle-root,
    .MuiDialogContent-root {
        padding: 0;
    }

    .main-container-modal {
        display: flex;

        .modal-heading h2{
            font-family: 'Poppins', sans-serif;
            font-size: 1.5rem;
            font-weight: 600;
            padding: 0;
            margin-bottom: 0;
        }
        p {
            margin-bottom: 0px;
        }

        .main-content {
            padding: 1rem 1rem;
            .modal-content {
                margin-bottom: .5rem;
                .sub-heading {
                    font-size: 16px;
                    font-weight: 600;
                    color: #000;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 10px;
                }
                .content {
                    font-size: 12px;
                    font-weight: 400;
                    font-family: 'Poppins', sans-serif;
                    color: #000;
                    line-height: 1.3;
                }
                .otp-statement {
                    font-size: 10px;
                    color:#21C011;
                    padding-top: 1px;
                    margin-bottom: 15px;
                    img {
                        width: 11px;
                        margin-right: 4px;
                        margin-bottom: 3px;
                    }
                }
                .modal-link {
                    color: #0031ff;
                    font-size: 10px;
                    font-family: 'Poppins', sans-serif;
                    margin-bottom: 7px;
                    font-weight: 500;
                    cursor: pointer;
                }
            }
            .modal-btn {
                font-size: 1.28rem;
                text-transform: capitalize;
                font-family: 'Poppins', sans-serif;
                // margin-right: 2rem;
                padding: 0;
                width: 50%
            }

            .create-request-btn {
                display: flex;
                height: 45px;
                width: 15rem;
                background-color: #0031ff;
                border-radius: 5px;
                color: #fff;
                font-size: 14px;
                padding: 0px;
                justify-content: center;
                font-family: 'Poppins', sans-serif;
                text-transform: capitalize;
              }

            .otp-input {
                border: none;
                width: 3rem;
                height: 3.5rem;
                color: #000000;
                margin: 10px 5px 10px;
                border-radius: 8px;
                font-size: 1.8rem;
                outline: none;
                background: #efefef;
                font-weight:600;
                text-align: center;
                background-position: bottom;
                background-attachment: fixed;
                font-family: 'Poppins', sans-serif;
            }
        }
        .create-illustration-wrapper {
            width: 50%;
            background-color: #f3f3f3;
            border-radius: 10px;
            display: flex;
            align-items: center;
            padding: 2rem 1.5rem 4rem 2rem;

            img {
              width: 100%;
            }
        }
    }


}

@include media(xxlarge) {
    .dialog-width .MuiDialog-paperWidthSm {
        max-width: 40%;
    }
}

@include media(tablet) {
    .dialog-width .main-container-modal .create-illustration-wrapper {
        display: none;
    }
}

@include media(mobile) {
    .dialog-width {
        .MuiDialog-paperWidthSm {
            max-width: 95%;
            margin: 10px;
        }
        .main-container-modal {
            .main-content {
                padding: 1rem .8rem;
                 .modal-btn {
                    width: 100%;
                }
                .create-request-btn {
                    width: 100%;
                }
                .otp-input {
                    width: 2.5rem;
                    height: 3rem;
                    font-size: 1.5rem;
                }
            }
            .modal-heading h2 {
                font-size: 1.2rem;
            }
            .create-illustration-wrapper {
                display: none;
            }
        }
    }
}



