$brand-color-primary: #0961ad; // #0050a0; OLD Sadhan Original Blue
$brand-color-secondary: #1f6b2e;

$app-text-primary: #424242;
$app-text-secondary: #262b35;
$app-text-tertiary: #f1f1f1;
$app-text-white: #000000;
$app-text-black: $app-text-primary;

$app-shadow-container: -10px 9px 21px rgba(#8098d5, 0.16);
$app-shadow-container-flipped: -10px -9px 21px rgba(#8098d5, 0.16);
$app-shadow-element: 0 0 3px rgba(0, 0, 0, 0.16);
$app-shadow-footer: 0px -9px 12px rgba(#8098d5, 0.16);

$app-color-h1: $app-text-secondary;
$app-color-h2: $app-text-primary;
$app-color-border: $app-text-primary;
$app-color-error: #c11313;

$app-bg-body: #fafafa;
$app-bg-container: #fafafa;
$app-bg-header: #fff;
$app-bg-side-drawer: #ffffff;
$app-bg-white: #fff;
$app-active-row: #fffff9;
$app-bg-color: #eef0f6;
$app-border-color: #707070;
$app-bg-footer: #f2f1f1;

/* status  label colors */
$label-completed-background: #facdb0;
$label-completed-text: #c25b1b;
$label-cancelled-background: #fce3eb;
$label-cancelled-text: #c11313;
$label-terminated-background: #fce3eb;
$label-terminated-text: #c11313;
$label-unassigned-background: #fce3eb;
$label-unassigned-text: #c11313;
$label-created-background: #facdb0;
$label-created-text: #c25b1b;
$label-assigned-background: #f5ebb6;
$label-assigned-text: #bea523;
$label-enroute-background: #abd0fc;
$label-enroute-text: #03397a;
$label-ongoing-background: #b0facd;
$label-ongoing-text: #09ad48;
$label-atLastDestination-background: #facdb0;
$label-atLastDestination-text: #c25b1b;

/* valyu app colors */
$app-bg-input-field: #e4e4e4;
$app-trip-card-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
0 6px 20px 0 rgba(0, 0, 0, 0.19);
$app-trip-card-bg: $app-bg-header;
$app-login-color: #0961ad;
$app-logout-color: #1f6b2e;
$app-pickup-select: #dbfde2;
$app-drop-select: #d8e9fd;
$app-shift-pickup: #acd2fd;
$app-shift-drop: #9be0a8;
$app-selected-bg: #e6e6e6;
$app-container-color: #f5f6f8;
$app-bg-black: rgba(0, 0, 0, 0);
$app-border-black: rgba(0, 0, 0, 0.42);
$app-bg-action-btn:#D6E9FD;

/* variable for font-family*/
$primary-font-family: 'Poppins', sans-serif; 

