//Roboto
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


@font-face {
  font-family: Muli-Regular;
  font-display: auto;
  src: url('../assets/fonts/Muli-Regular.ttf');
}

@font-face {
  font-family: Muli-SemiBold;
  font-display: auto;
	src: url('../assets/fonts/Muli-SemiBold.ttf');
}

@font-face {
  font-family: Muli-Bold;
  font-display: auto;
	src: url('../assets/fonts/Muli-Bold.ttf');
}

$app-font-regular: 'Muli-Regular';
$app-font-medium: 'Muli-SemiBold';
$app-font-bold: 'Muli-Bold';
