@mixin text-regular($fontSize, $fontColor) {
  font-family: $app-font-regular;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin text-medium($fontSize, $fontColor) {
  font-family: $app-font-medium;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin text-bold($fontSize, $fontColor) {
  font-family: $app-font-bold;
  font-size: $fontSize;
  color: $fontColor;
}

@mixin error {
  color: #FF0000;
  font-size: 11px;
  text-align: left;
}
@mixin blue-btn-txt {
  color: #fff;
}