@import '../../styles/core.scss';

.root-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 80px auto;
  width: 80%;
  background-color: #fafafc;
}
.company-details-heading {
  display: none;
}
.container {
  display: flex;
  flex-direction: column;
}

.profiles {
  background: #fff;
  padding: 3%;
  border-radius: 20px;
}

.top-heading {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-align: left;
  margin-bottom: 28px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
}

.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 22px;

  .first-column {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-bottom: 22px;
  }

  .second-column {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
}

.img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.company-details {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-top: 46px;
  margin-left: 25px;
}

.company-details-container {
  display: flex;
  flex-direction: column;
  // flex: 1;
  align-items: flex-start;
  margin-right: 15px;
  background-color: #f7f7f7;
  padding: 20px;

  .logo-image {
    width: 22px;
    height: 18px;
    margin-right: 1rem;
  }

  .circle {
    width: 18px;
    height: 18px;
    background: grey;
    border-radius: 50%;
    margin-right: 5px;
  }

  .company-name {
    font-size: 12px;
    color: black;
    text-align: center;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
  }

  .details-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 18px;
  }

  .column-first {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 200px;
    // width: 250px;
    margin-right: 50px;
  }
  .column-second {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 200px;
    // width: 250px;
    margin-right: 50px;
    // margin-top: 20px;
  }
}

@include media(mobile) {
  .container-profiles {
    width: 95%;
    margin: 14px 10px 10px 10px;
    line-height: 14px;
  }

  .top-heading {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .user-info-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .info-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;

    .first-column {
      display: flex;
      flex-direction: column;
      margin: 0px;
    }

    .second-column {
      display: flex;
      flex-direction: column;
      margin-top: 0px;
    }
  }

  .company-details {
    flex-direction: column;
    margin: 10px;
  }

  .company-details-container {
    padding: 0px;
    margin: 0px;
    flex-direction: column;

    .details-container {
      flex-direction: column;
      margin: 0px;
    }
  }

  .column-first {
    margin-bottom: 22px;
  }

  .column-second {
    margin-top: 22px;
    margin-bottom: 60px;
  }
}
