@import '../../styles/core.scss';

.aggrement {
  padding-top: 10px;
  line-height: 24px !important;
}
.main-bg {
  background-color: #fafafc;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-family: $primary-font-family;

  .bg-container {
    // background: url('~assets/images/login-bg.png') no-repeat center;
    // background-size: cover;
    width: 85%;
    height: 72vh;
    display: flex;
    flex-direction: row;
    background-color: #fafafc;
    margin: 6rem auto;
    border-radius: 12px;

    .bg-overlay-1 {
      background: 'FFFFFF';
      width: 42%;
      height: 100%;
      overflow: auto;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      padding-left: 70px;
      padding-bottom: 1rem;
      border-radius: 0 12px 12px 0;
    }

    .form-icon {
      width: 2.5rem;
    }

    .bg-overlay-2 {
      background-size: cover;
      width: 58%;
      height: 100%;
      display: flex;
      border-radius: 12px;

      .blue-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 76, 255, 0.6);
        border-radius: 12px;
        position: relative;
      }
      .green-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 128, 0, 0.6);
        border-radius: 12px;
        position: relative;
      }
    }
    .verify-bg {
      background: url('../../assets/images/verification.png') no-repeat center;
    }
    .company-bg {
      background: url('../../assets/images/selectCompany.png') no-repeat center;
    }
    .login-bg {
      background: url('../../assets/images/login-bg.png') no-repeat center;
    }
    .text-wrapper {
      width: 350px;
      position: absolute;
      bottom: 10px;
      .banner-text {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.1;
        margin-left: 1.5rem;
        margin-bottom: 5px;
      }
      .banner-sub-text {
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
        margin-left: 1.5rem;
        font-weight: 200;
      }
    }

    .dots-wrapper {
      display: flex;
      margin-left: 1.5rem;
      .dots {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin-right: 4px;
      }
      .dots-bg {
        background-color: #fff;
      }
    }
    .otp-wrapper {
      display: flex;
    }
    .otp-statement {
      font-size: 10px;
      color: #21c011;
      padding-top: 1px;
      margin-bottom: 15px;
      img {
        width: 11px;
        margin-right: 4px;
        margin-bottom: 3px;
      }
    }
    .modal-link {
      color: #0031ff;
      font-size: 9px;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 7px;
      font-weight: 400;
      cursor: pointer;
    }
    .size {
      font-size: 12px;
    }
    .mb-resend {
      margin-top: 5%;
    }
    .red-color {
      color: #ff0000;
    }

    .logo-container {
      background-size: contain;
      display: flex;
      width: 5rem;
      height: 3.1rem;
      opacity: 1;
      margin-top: 1rem;
    }
    .img-logo {
      width: 100%;
      height: 100%;
    }
    .img-wid {
      width: 60%;
      height: 4.5rem;
    }
    .page-icon {
      width: 3rem;
      height: 3.5rem;
      margin-top: 2.3rem;

      .company-icon {
        width: 80%;
      }
    }
    .notregisterd-container {
      font-family: $primary-font-family;
      padding-right: 10px;
    }
    .hiText {
      font-weight: 700;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 5px;
    }
    .companyText {
      color: #000;
      font-size: 13px;
    }
    .login-h1 {
      color: #000000;
      font-size: 1.2rem;
      text-align: left;
      font-weight: 600;
      font-family: $primary-font-family;
      margin: 15px 0 0;
      opacity: 1;
      line-height: 1.1;
    }
    .login-form-container {
      display: flex;
      flex-direction: column;
      justify-content: left;
    }

    .email-container {
      margin-top: 20px;
    }

    .change-num {
      display: flex;
      justify-content: space-between;
      margin-top: 0.5rem;
    }

    .salary-div {
      justify-content: space-between;
      margin-top: 0.5rem;
    }

    .phone-number-container {
      width: 60%;
      height: 40px;
      display: flex;
      flex-direction: row;
      border: 1px solid #98979d;
      border-radius: 5px;
    }

    .add-salary {
      margin-bottom: 0.5rem;
    }

    .flag {
      background: url('../../assets/images/flag.png') center no-repeat;
      background-size: contain;
      width: 65px;
      margin-right: 10px;
    }
    .flag-input {
      width: 100%;
    }

    .text-input {
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      border: none;
      outline: none;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      font-family: $primary-font-family;
    }
    .addSpan {
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="4" y="22" style="font: 16px bold Poppins, sans-serif; fill: grey">+91 </text></svg>')
        no-repeat;
      padding-left: 35px;
    }

    .text-input::-webkit-input-placeholder {
      font-weight: 400;
      color: #000000;
      font-style: normal;
      font-size: 15px;
      font-family: $primary-font-family;
    }

    .btn-wrapper {
      width: 60%;
      // display: flex;
      // justify-content: space-between;
      margin-top: 1.4rem;
    }
    .mar-right {
      margin-right: 25px;
    }
    // .btn-mar {
    //   margin-top: 4rem;
    // }
    .btn-wrapper-width {
      width: 60%;
      margin-bottom: 1.3rem;
    }
    .m-top {
      margin-top: 1rem;
    }

    .verify-btn {
      display: flex;
      height: 35px;
      width: 100%;
      background-color: #0031ff;
      border-radius: 5px;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      padding: 0px;
      justify-content: center;
      font-family: $primary-font-family;
      text-transform: capitalize;
    }
    .verify-btn:hover {
      background-color: #004cff;
      color: #fff;
    }
    .resend {
      font-size: 10px;
      font-weight: 300;
      text-transform: capitalize;
      font-family: $primary-font-family;
      margin-top: 1rem;
    }
    .color-text {
      color: red !important;
    }
    .btn-bg {
      height: 42px;
      width: 100%;
      border-radius: 5px;
      font-size: 12px;
      background-color: #fafafc;
    }
    // .MuiButton-textPrimary {
    //     color: #ffffff;
    //     margin: 0 auto;
    //     font-size: 15px;
    //     font-weight: 600;
    // }
    .MuiTouchRipple-root {
      outline: none;
    }

    .title {
      margin-top: 5%;
    }

    .label {
      width: 83%;
      color: #000000;
      font-size: 0.7rem;
      font-family: $primary-font-family;
      line-height: 1.3;
      margin-top: 5px;
    }

    .monthly-income {
      margin-bottom: 0;
    }

    .notes {
      margin-top: 5%;
    }

    .full-width {
      width: 100%;
    }
    .label-verify {
      width: 64%;
      font-weight: 600;
      color: #949494;
      font-size: 20px;
      line-height: 1.3;
      margin-top: 1rem;
    }

    .help-link-container {
      display: flex;
      align-items: flex-start;
      width: 47%;
      flex-direction: row;
      margin-left: 20px;
    }

    .link {
      color: #ff0000;
      font-weight: 400;
      margin-top: 5px;
      font-size: 13px;
      font-family: $primary-font-family;
    }

    .otp-btn {
      height: 45px;
      width: 220px;
      padding-top: 0px;

      .label {
        color: white;
      }
    }

    .otp-verification-container {
      display: flex;
      flex-direction: column;
    }

    .lds-ring {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
    }
    .lds-ring div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 30px;
      height: 30px;
      margin: 5px;
      border: 3px solid #0031ff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #0031ff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
      animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
      animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
      animation-delay: -0.15s;
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    .otp-container {
      flex: 1;
      height: 100%;
      width: 100%;
    }
    .radio-wrapper {
      display: flex;
      // width: 50%;
      // margin: 2rem 0;
      flex-direction: row;
      align-items: center;
      // margin-left: 80px;

      .radio-heading {
        width: 165px;
        font-size: 13px;
        font-family: $primary-font-family;
        color: #949494;
      }
      .MuiSvgIcon-root {
        width: 18px;
        height: auto;
      }
      .MuiTypography-body1 {
        font-size: 13px;
        color: #000;
        font-weight: 500;
        font-family: $primary-font-family;
      }
    }

    .otp-input {
      border: none;
      width: 2.5rem;
      height: 3.5rem;
      color: #000;
      margin: 0px 0.2rem 10px;
      border-radius: 5px;
      font-size: 32px;
      font-weight: 600;
      outline: none;
      text-align: center;
      background-position: bottom;
      background-attachment: fixed;
      background-color: #f8f8f9;
    }
    .otp-input:focus {
      box-shadow: 2px 2px 2px #00000019;
    }

    .heading-container {
      width: 95%;
      // margin-top: 30px
    }

    .checkbox-wrapper {
      width: 70%;
      font-size: 12px;
    }

    .otp-action-btn {
      display: flex;
      flex-direction: row;
      margin-top: 25px;

      .btn-verify {
        display: flex;
        width: 50%;
        height: 35px;
        width: 120px;
        background-color: #004cff;
        border-radius: 3px;
        padding: 6px 0px 6px 0px;

        .label {
          color: white;
          margin-left: 40px;
          padding: 0;
        }
      }
      .link-resend {
        color: #757575;
        // width: 50%;
        flex: 1;
        font-weight: bold;
        align-self: center;
        margin-left: 40px;
      }
    }

    .re-enter-link {
      margin-top: 20px;
    }

    .resend {
      font-size: 10px;
      color: #949494;
    }

    //company page css

    .company-btn {
      height: 40px;
      width: 100%;
      border-radius: 4px;
      border: 1px solid #f4f5fa;
      background-color: transparent;
      font-size: 12px;
      color: #948e8e;
      font-family: $primary-font-family;
      margin-bottom: 10px;
      padding: 0 0.8rem;
      display: flex;
      justify-content: flex-start;

      img {
        margin-right: 15px;
        width: 28px;
      }

      .logo {
        margin-right: 15px;
        width: 28px;
        border: 13px solid grey;
        border-radius: 50%;
      }
    }
    // .company-btn:hover {
    //     border: 1px solid #98979D;
    //     background-color: transparent;
    // }

    .company-btn.active {
      // border: 1px solid #bfbfbf;
      background-color: #f4f5fa;
      color: #080808;
    }

    iframe {
      width: 450px;
      height: 450px;
      border: 0;
      border-radius: 8px;
      background: $app-bg-white;
    }
  }

  .bg-overlay-1::-webkit-scrollbar {
    width: 0px;
  }

  @include media(xxlarge) {
    .bg-container {
      width: 70%;
      height: 60vh;
      margin: 13rem auto;

      .btn-wrapper,
      .phone-number-container {
        width: 70%;
      }
    }
    .bg-overlay-1 {
      padding-left: 5rem;
    }
    .logo-container {
      width: 10rem;
      height: 6.5rem;
      margin-top: 4rem;
    }
    .phone-number-container {
      height: 50px;
    }
    .login-h1 {
      font-size: 2.8rem;
    }
    .text-input {
      font-size: 25px;
    }
    .link {
      font-size: 17px;
    }
    .verify-btn {
      margin-top: 0rem;
      height: 50px;
    }
    .m-top {
      margin-top: 1rem;
    }
    .label {
      font-size: 1.5rem;
    }
    .resend {
      font-size: 21px;
      margin-top: 0.8rem;
    }
    .page-icon {
      width: 6.5rem;
      height: 7.5rem;
      margin-top: 4rem;
    }
    .btn-wrapper-width {
      width: 60%;
      margin-top: 2rem;
    }
    .company-btn {
      width: 14rem;
    }
    .label {
      width: 80%;
    }
    .help-link-container {
      width: 60%;
    }
    .btn-bg {
      height: 50px;
      width: 100%;
    }
  }

  @include media(xlarge) {
    .bg-container {
      width: 70%;
      height: 65vh;
      margin: 9rem auto;

      .btn-wrapper,
      .phone-number-container {
        width: 75%;
      }
    }
    .logo-container {
      margin-top: 5rem;
    }
    .page-icon {
      margin-top: 4rem;
    }
    .label {
      width: 78%;
    }
    .btn-wrapper {
      margin-top: 1.8rem;
    }
    .m-top {
      margin-top: 2rem;
    }
    .change-num {
      margin-top: 3rem;
    }
    .salary-div {
      margin-top: 3rem;
    }

    .btn-wrapper-width {
      width: 70%;
    }
    .btn-mar {
      margin-top: 4rem;
    }
    .help-link-container {
      width: 50%;
    }
  }

  @include media(desktop) {
    .bg-container {
      .btn-wrapper,
      .phone-number-container {
        width: 70%;
      }
    }
    .btn-wrapper {
      width: 85%;
    }
  }
  @include media(tablet) {
    .bg-container {
      width: 95%;
      .bg-overlay-2 {
        width: 58%;
      }
      .bg-overlay-1 {
        width: 42%;
        padding-left: 40px;
      }
      .btn-wrapper,
      .phone-number-container {
        width: 85%;
      }
      .companies-btn {
        width: 63%;
      }
    }
    .btn-wrapper {
      width: 90%;
    }
    .btn-wrapper-width {
      width: 100%;
    }
    .verify-btn {
      width: 8rem;
    }
    .logo-container {
      width: 6rem;
      height: 4rem;
    }
    .page-icon {
      width: 4.5rem;
      height: 5.5rem;
    }
    .login-h1 {
      font-size: 1.3rem;
    }
    .label {
      font-size: 0.8rem;
    }
  }

  @include media(mobile) {
    .bg-container {
      width: 100%;
      height: 100vh;
      margin: 0 auto;
      border-radius: 0;

      .bg-overlay-2 {
        display: none;
      }

      .bg-overlay-1 {
        width: 100%;
        height: auto;
        padding-left: 0px;
        border-radius: 0;
      }

      .logo-container {
        width: 6rem;
        height: 4.1rem;
        margin: 5rem auto 3rem;
      }
      .page-icon {
        width: 4rem;
        height: 4rem;
        margin: 1rem auto 0.2rem;
      }
      .heading-container {
        width: 100%;
        .login-h1 {
          text-align: center;
          font-size: 1.5rem;
        }
      }
      .label {
        width: 100%;
        text-align: center;
        font-size: 0.9rem;
      }
      .phone-number-container {
        width: 80%;
        height: 37px;
        margin: 0 auto;
      }
      .otp-wrapper {
        justify-content: center;
        margin-bottom: 0rem;
      }
      .mob-dis {
        display: none;
      }
      .red-color {
        text-align: center;
        // margin-top: 3rem;
      }
      .mb-resend {
        text-align: center;
        margin-top: 3rem;
      }
      .btn-top {
        margin-top: 4% !important;
      }
      .label-com {
        width: 82%;
        margin: 5px 10%;
        font-size: 15px;
      }

      .btn-wrapper {
        width: 80%;

        margin: 3rem auto 0;

        .btn-bg {
          background: transparent;
        }
      }
      .addSpan {
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="9" y="23" style="font: 16px bold Poppins, sans-serif; fill: grey">91 </text></svg>')
          no-repeat;
        padding-left: 30px;
      }
      .companies-btn {
        margin-top: 1rem !important;
        display: flex;
        flex-direction: column;
      }
      .error-msg {
        width: 80%;
        margin: 0 auto;
      }
      .radio-wrapper {
        margin-left: 80px;
      }
    }
  }

  @include media(mobile down) {
    iframe {
      width: 90vw;
    }
  }
}

.error-msg {
  @include error;
}

.white-txt {
  color: #fff;
}
