@import '../../../styles/core.scss';

.sidebar {
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    // display: none;
}

.fw-600{
    font-weight: 600 !important;
}

//media query........
  
@include media(mobile) {
    .sidebar-extend {
        height: 70px;
        width: 100%;
    }
    .sidebar{
        position: absolute;
        width: 100%;
        height: calc(100vh - 70px);
        // max-height: 800px;
        z-index: 1;
        background-color: #fff;
        padding: 30px 20px;
        overflow: auto;

        .sidebar-menu-row {
            width: 100%;
            display: flex;
            align-items: center;
            height: 45px;
            margin-bottom: 0.8rem;
            position: relative;
            color: #000000;
            .sidebar-icon {
                margin-right: 30px;
                width: 19px;
                margin-left: 10px;
            }
            .sidebar-icon-img {
                margin-right: 20px;
            }
            .sidebar-option {
                font-family: $primary-font-family;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
            }
            .sidebar-arrow {
                position: absolute; 
                right: 15px;
                top: 15px;
            }
        }
        .sidebar-note {
            color: #98979D;
            font-family: $primary-font-family;
            font-size: 14px;
        }
        .sidebar-img {
            width: 15px;
            margin-right: 12px;
        }
        .sidebar-note-width {
            width: 110px;
            display: inline-block;
        }
    }
}