@import '../../../styles/core.scss';

.error-msg {
    color: $app-color-error !important;
    font-size: 11px;
}

.input-wrapper {
    width: 48%;
    position: relative;

    .input-icon {
      position: absolute;
      right: .7em;
      bottom: .7rem;
    }
  }