@import '../../../styles/core.scss';

body{
  background: #FAFAFC;
}
.header{
  background: #fff;
  height: 80px;
  border: 1px solid #E3E2E8;
  padding: 0 20px;
  >div{
    display: inline-block;
    vertical-align: top;
  }
  .logo{
    img{
      height: 80px;
      padding: 10px;
    }
  }
  .company-logo{
    img{
      height: 80px;
      padding: 25px;
      margin-left: 20px;
    }
  }
  .notification{
    float: right;
    height: 80px;
    width: 80px;
    .icon{
      background-image: url('./Notifications.svg');
      background-size: 13px;
      background-repeat: no-repeat;
      height: 36px;
      margin: 17px 0;
      width: 80px;
      display: block;
      background-position: center;
    }
  }
  .profile{
    float: right;
    width: auto;
    // height: 100%;
    margin-top: 15px;
    height: 50px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    // &:hover{
    //   background-color:#e2e1e1;
    // }
    .user-img{
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      display: inline-block;
      background-color: gray;
      img{
        width: 100%;
      }
    }
    .name{
      display: inline;
      font-family: $primary-font-family;
      font-weight: 500;
    }
    .icon{
      background-image: url('./small-down.svg');
      background-size: 65%;
      background-repeat: no-repeat;
      height: 10px;
      width: 20px;
      display: inline-block;
      margin-left: 10px;
      background-position: center;
    }
    .options {
      position: absolute;
      background: #fff;
      display: none;
      width: 90%;
      max-width: 130px;
      right: 0px;
      top: 2.5rem;
      margin-top: 7px;
      box-shadow: 0 3px 6px #00000029;
      z-index: 1;
      // border-left: 1px solid #ccc;
      // border-right: 1px solid #ccc;
      // border-bottom: 1px solid #ccc;
      ul{
        text-align: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          line-height: 40px;
          font-weight: 500;
          color: #0031ff;
        
          .icon-head {
            margin-right: 5px;
            width: 14px;
            margin-top: -3px;
          }

          &:hover{
            color: #0031ff;
            cursor: pointer;
          }
        }
      }
    }
    &:hover{
      .options{
        display: block;
      }
    }
    &:active{
      .options{
        display: block !important;
      }
    }
  }

  .nav-icon  {
    display: none;
  }

}

//media query........
  
@include media(mobile) {
  .header {
    height: 70px;
    padding: 0 10px;
    // position: fixed;

    .company-logo{
      img{
        height: 67px;
        margin-left: 0px;
      }
    }

    .logo{
      img{
        height: 63px;
        padding: 10px;
        margin-top: 5px;
      }
    }

    .profile {
      display: none;
    }

    .notification {
      width: 50px;

      .icon {
        width: 66px;
        // margin: 26px 0 0;
        background-size: 16px;
      }
    }

    .nav-icon {
      margin: 1.5em 0.5em 0;
      width: 18px;
      float: right;
      display: block;
    }
    .visuallyHidden {
      position: absolute; 
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height: 1px; width: 1px; 
      margin: -1px; padding: 0; border: 0; 
    }
    .hamburger {
      margin: 6px auto;
      height: 16px;
      position: relative;
    }
    .hamburger .bar {
      padding: 0;
      width: 18px;
      height: 2px;
      background-color: #98979D;
      display: block;
      border-radius: 1px;
      transition: all 0.4s ease-in-out;
      position: absolute; 
    }
    .bar1 {
      top: 2px;
    }
    .bar2 {
      top: 7.5px;
      width: 13px !important;
      right: 0;
    }  
    .bar3 {
      bottom: 0;
    }
    .hamburger3 .bar1 {
      transform-origin: 5%;
    }
    .hamburger3 .bar4 {
      transform-origin: 5%;
    }
    .checkbox3:checked + label > .hamburger3 > .bar1{
      transform: rotate(45deg);
      height: 2px;
      width: 20px;
    }
    .checkbox3:checked + label > .hamburger3 > .bar2{
      display: none;
    }
    .checkbox3:checked + label > .hamburger3 > .bar3{
      transform: rotate(-45deg);
      height: 2px;
      width: 20px;
      margin-bottom: 5px;
      margin-left: -3px;
    }
  }
  
}