@import '../../styles/core.scss';

.create-requests-container {
  background-color: #fafafc;
  padding-bottom: 2rem;

  .Mui-disabled{
    background-color: #a6a6a6 !important;
  }

  .top-bars {
    width: 100%;
    height: 120px;
    background-color: #fff;
  }

  .width-100 {
    width: 100%;
  }

  .card {
    width: 88%;
    margin: 2rem auto;
    background: $app-bg-white;
    box-shadow: $app-shadow-container;
    text-align: left;
    display: flex;
    border-radius: 18px;
    position: relative;

    .error-div{
      margin: auto;
      .error-img{
        width: 60%;
      }
    }

    .create-step-first {
      display: flex;
      flex-direction: column;
      width: 65%;
      background: #fff;
      padding: 1.5rem 3rem;
      border-radius: 18px;

      .step-heading {
        font-size: 21px;
        font-family: $primary-font-family;
        color: #000;
        font-weight: 600;
        display: flex;
        margin-bottom: 5px;

        .final-heading {
          width: 100%;
          display: flex !important;
          justify-content: space-between;
          align-items: baseline;
        }

        .back-arrow-box {
          width: 18px;
          height: 18px;
          border-radius: 3px;
          background-color: #e3e2e8;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 7px 8px 0 0;
        }
      }
      .awesome-heading {
        color: red;
        line-height: 10px;
        font-size: 25px;
        margin-top: 10px;

        img {
          width: 25px;
          margin-top: -10px;
          margin-left: 10px;
        }
      }

      .heading-btn {
        width: 25%;
        min-width: 150px;
        height: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .CTA-icon {
          width: 18px;
          margin-right: 3px;
        }
        .CTA-text {
          font-size: 12px;
          color: #98979d;
          font-weight: 500;
          font-family: $primary-font-family;
          cursor: pointer;
        }

        :hover .CTA-text {
          color: #000;
        }

        :hover .CTA-icon {
          fill: #000;
        }
      }

      .tracker {
        display: flex;
        flex-direction: row;
        margin: 0 0 15px 24px;

        .handle-line {
          margin: auto 0;
          width: 100%;

          .line {
            flex: 5;
            width: 95%;
            height: 3px;
            background-color: #f1f1f1;
            margin-right: 8px;
          }

          .activate {
            background-color: #038fff;
          }
        }

        .circle {
          flex: 1;
          padding: 5px;
          background-color: #fafafa;
          border-radius: 50%;
          // box-shadow: 5px 5px 8px #888888;
          box-shadow: 0 2px 10px #00000029;
        }
        .status-img {
          width: 40px;
          height: 40px;
          background: #fff;
          border-radius: 50%;
          box-shadow: 0 2px 10px #00000029;
        }
        .complete-stage {
          border: 1px solid #038fff;
        }
      }

      .sub-head-forth {
        font-size: 12px;
        line-height: 1.3;
        font-weight: 400;
        text-align: left;
        color: #000000;
        font-family: $primary-font-family;
      }

      .info-text {
        font-size: 22px;
        margin-top: 1.2rem;
        color: #002143;
      }

      .form-step {
        width: 100%;
        margin: 0px 0px;
        line-height: 30px;
        font-size: 30px;

        .initial-step{
          margin-top: 15%;
          .help-link{
            color: #0031ff;
          }
        }

        .first-step,
        .fourth-step {
          width: 100%;
          color: #a5b1bd;
          font-size: 20px;

          .secationClass {
            font-size: 12px;
            color: #000000;
            text-transform: capitalize;
          }

          .rs-range-wrapper {
            width: 80%;
            margin: 15px 30px 0;
            display: flex;
            justify-content: space-between;
            height: 30px;

            .range-Heading {
              color: #b5b5b8;
              font-size: 15px;
              font-family: $primary-font-family;
              line-height: 1.5;

              .mobile-none {
                margin-bottom: 2px;
              }
            }
            .range-amount {
              min-width: 100px;
              height: 30px;
              border-radius: 5px;
              background-color: #fafafc;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #000;
              font-size: 15px;
              font-weight: 600;
              font-family: $primary-font-family;
              padding: 0 10px;
            }
          }

          .margin {
            margin: 1rem 0;
          }
          .margin-zero {
            margin-bottom: 0;
          }
          .main-input-box {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;

            .input-wrapper {
              width: 48%;
              position: relative;

              .labelClass {
                font-size: 12px;
                color: #000000;
              }

              .input-icon {
                position: absolute;
                right: 10px;
                top: 11px;
              }
            }

            .input-wrapper.reason-input {
              width: 40%;
            }

            .input-min-wrapper {
              width: 150px;
              .heading {
                font-size: 12px;
                color: #000;
                font-weight: 500;
              }
            }
            .amount {
              font-size: 12px;
              color: #0031ff;
              font-weight: 500;
            }

            .input-area {
              width: 100%;
              height: 38px;
              box-sizing: border-box;
              outline: none;
              font-family: $primary-font-family;
              font-size: 12px;
              color: #98979d;
              border: 1px solid #e3e2e8;
              border-radius: 5px;
              padding: 10px 30px 10px 10px;
            }
            .read-only {
              background: #f5f5f5;
            }
            .text-area {
              min-height: 38px;
              height: auto;
              resize: none;
              padding-right: 30px;
              line-height: 1.3;
            }
            .input-area-txt {
              font-weight: 600;
              color: #000;
              font-size: 16px;
              padding-left: 20px;
            }
            .addSpan {
              background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="7" y="23" style="font: 12px Poppins, sans-serif; fill: grey">+91</text>><text x="35" y="22" style="font: 12px Poppins, sans-serif; fill: grey">|</text></svg>')
                no-repeat;
              padding-left: 44px;
            }
            .input-area::placeholder {
              font-size: 14px;
              margin-left: 10px;
              color: #98979d;
            }
            .mar-input {
              margin-right: 15px;
            }
            .full-input {
              width: 100%;
            }
            .reason-label {
              display: block;
              font-size: 12px;
              text-align: left;
              color: #000000;
              margin-top: 4px;
              font-weight: 500;
            }
          }

          .main-input-box.reason-div {
            width: 60%;
          }

          // .main-box {
          //   display: flex;
          //   flex-direction:column;
          //   justify-content: space-between;
          //   width: 100%;
          //   margin: 20px 0px;
          //   .reason {
          //     width: 100%;
          //     height: 50px;
          //   }
          //   .text-area-box {
          //     width: 90%;
          //     outline: none;
          //     border-radius: 10px;
          //     background-color: #F4F5FA;
          //     border: none;
          //     resize: none;
          //     padding: .5rem 1rem;
          //     font-size: 14px;
          //     font-weight: 400;
          //     font-family: $primary-font-family;
          //     line-height: 1.5;
          //     color:#000;
          //   }

          .justify-content {
            justify-content: flex-start;
          }
          .box-charges {
            width: 70%;
            padding: 0.2rem 1rem;
            background-color: #fafafc;
            border-radius: 10px;
            margin-top: 0.5rem;
            .box-charges-inner {
              display: flex;
              // flex-direction: row;

              // .left {
              //   flex: 2;
              // }
              // .right {
              //   flex: 4;
              //   margin-left: 10px;
              // }
              .sub-heading {
                font-size: 12px;
                color: #98979d;
                font-weight: 500;
                // margin-right: 20px;
              }
              .amount {
                font-size: 12px;
                color: #0031ff;
                font-weight: 500;
                margin-right: 20px;
                min-width: 50px;
                margin-left: 20px;
              }
              .heading {
                font-size: 12px;
                color: #000;
                font-weight: 500;
                min-width: 116px;
              }
            }
          }

          .select-custom {
            width: 100% !important;
            border-radius: 5px;
            background-color: transparent !important;
            font-size: 14px;
            font-weight: 400;
            font-family: $primary-font-family;
            color: #98979d;
            border: 1px solid #e3e2e8 !important;
          }
          //}

          .withdrawal-limit {
            font-size: 14px;
            font-family: $primary-font-family;
            color: #949494;
            margin-top: 1rem;

            span {
              color: $brand-color-primary;
              font-size: 18px;
              font-family: $primary-font-family;
              font-weight: 600;
            }
          }
        }

        .second-step {
          font-family: $primary-font-family;

          .error-msg {
            color: $app-color-error !important;
            font-size: 11px;
          }

          .main-input-box {
            width: 85%;
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;

            .input-wrapper {
              width: 47%;
              // margin-right: 13px;
              position: relative;

              .labelClass {
                font-size: 12px;
                color: #000000;
              }

              .input-area {
                width: 100%;
                height: 45px;
                box-sizing: border-box;
                outline: none;
                font-family: $primary-font-family;
                font-size: 14px;
                color: #98979d;
                border: 1px solid #e3e2e8;
                border-radius: 5px;
                padding: 10px;
                // background: #f5f5f5;
              }
              .read-only {
                background: #f5f5f5;
              }
            }
          }
          .google-doc-wrapper {
            display: flex;
            align-items: center;
            .google-file {
              width: 10px;
              margin-right: 10px;
            }
            .file-name {
              font-size: 10px;
              color: #98979d;
              margin-bottom: 0;
            }
          }
          .width-98 {
            width: 98%;

            .btn-wrapper {
              width: 57%;
              display: flex;
              justify-content: space-between;

              .resend {
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
                font-family: $primary-font-family;
              }

              .btn-bg {
                height: 45px;
                width: 13rem;
                border-radius: 5px;
                background-color: #fafafc;
                margin: 0 6px;
              }
            }
          }

          .id-card-box {
            width: 47%;
            max-height: 150px;
            border-radius: 10px;
            background-color: #fafafc;
            border: 1px dashed #e3e2e8;
            padding: 2px 10px;
            cursor: pointer;

            > input {
              // display: none;
              visibility: hidden;
            }

            .status-clock-wrapper {
              width: 100%;
              display: flex;

              img {
                width: 11px;
              }

              .status-text {
                font-size: 9px;
                margin-left: 7px;
              }
              .color-text-pending {
                color: #feb25a;
              }
              .color-text-upload {
                color: #00af4c;
              }
              .color-text-failed {
                color: #eb1717;
              }
            }

            .document-name {
              display: flex;
              .card-img {
                width: 45px;
                margin: 5px 0;

                img {
                  width: 100%;
                }
              }

              .card-img-upload {
                width: 32px;
              }
              .card-img-failed {
                width: 53px;
              }
            }
            .document-details {
              width: 75%;
              margin-left: 20px;
              text-align: left;
              margin-top: 8px;

              .card-text {
                font-size: 10px;
                color: #000000;
                margin-bottom: 0;
                line-height: 1.5;
                font-weight: 600;
              }
              .tap-text {
                font-weight: 500;
                font-size: 9px;
                color: #000000;
                margin-bottom: 0;
                line-height: 1.5;
              }
              .type-text {
                color: #98979d;
                font-size: 8px;
                font-weight: 500;
                margin-bottom: 0;
                line-height: 1.5;
              }
            }
            .bottom-text {
              width: 90%;
              font-weight: 500;
              font-size: 9px;
              color: #000000;
              line-height: 1.5;
              margin-top: 8px;
            }

            [type='file'] {
              width: 10%;
              font-size: 10px;
            }
          }
        }

        .third-step {
          .sub-head {
            font-size: 18px;
            font-weight: 500;
            font-family: $primary-font-family;
            margin-bottom: 0.5rem;
          }

          .term-condition {
            width: 55%;
            font-size: 15px;
            line-height: 1.3;
            color: #707070;
            height: 300px;
            overflow: auto;
          }

          ::-webkit-scrollbar {
            width: 0;
          }
        }

        .fourth-step {
          .interest-paragrah {
            width: 55%;
            max-width: 300px;
            margin-top: 3%;
            font-size: 11px;
            text-align: left;
            line-height: 1.5;
            color: #000000;
            letter-spacing: 0px;
            .feeCss {
              color: #0031FF;
              font-weight: 700;
            }
            .bold-text {
              font-weight: 700;
              margin-bottom: 0;
            }
            .text-line-height {
              line-height: 1.3;
              font-size: 10px;
            }
            .infoIcon {
              padding-left: 1%;
            }
          }
          .main-input-box {
            // margin: 0 2%;

            .slider-aside-wrapper {
              width: 12%;
              min-width: 55px;
              display: flex;
              align-items: center;
              margin-top: 2px;

              .slider-left {
                width: 80%;
                background-color: #eeeeee;
                height: 3px;
              }
              .slider-left-circle {
                height: 15px;
                width: 15px;
                background-color: #0031ff;
                border-radius: 50%;
              }
              .slider-right-circle {
                background-color: #efefef;
              }
            }
            .reason-label {
              display: block;
              font-size: 12px;
              text-align: left;
              color: #000000;
              margin-top: 4px;
              font-weight: 500;
            }
            .slider-right {
              width: 25%;
              min-width: 120px;
            }
            .full-width {
              width: 100%;
              margin: 2% 0 0 0;
              margin-right: -3px;

              .MuiSlider-track {
                height: 4px;
                background-color: #0031ff;
                margin-left: -2px;
                margin-right: -2px;
              }
              .MuiSlider-root {
                color: #e3e2e8;
                height: 4px;
                width: 100% !important;
              }
              .MuiSlider-rail {
                height: 4px;
                margin-left: -2px;
                margin-right: -2px;
                opacity: 0.48;
              }
              .MuiSlider-thumb {
                width: 25px;
                height: 25px;
                background-color: #0031ff;
                margin-top: -12px;
                margin-left: -1rem;
                margin-right: -1rem;
              }
            }
          }
        }
        .five-step,
        .sixth-step {
          font-family: $primary-font-family;
          // margin-left: -3%;
          .mainDiv {
            background-color: #e3e2e8;
            padding: 10px 15px;
            border-radius: 10px;
            margin-top: 10px;
          }
          .contentDiv {
            height: 250px;
            overflow: auto;
            margin-top: 1%;
            font-size: 11px;
            text-align: left;
            line-height: 1.5;
            color: #000000;
            letter-spacing: 0px;
            font-family: $primary-font-family;
          }
          .table-wrapper {
            width: 95%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .wid-40 {
              width: 43%;
            }
            .main-box {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              border-bottom: 1px solid #f8f8f9;
              align-items: center;
              height: 38px;
              margin-bottom: 10px;
              .category {
                width: 180px;
                text-align: left;
                color: #98979d;
                font-size: 12px;
                font-family: $primary-font-family;
              }
              .value {
                width: 150px;
                text-align: right;
                color: #000;
                font-size: 12px;
                font-family: $primary-font-family;
                font-weight: 600;
              }
              .status {
                color: #014cff !important;
                font-weight: 700;
              }

              .id {
                width: 200px;
              }
            }
            .border-none {
              border-bottom: none;
            }
          }
        }

        .sixth-step {
          color: #a5b1bd;
          font-size: 20px;

          .wid-70 {
            width: 70%;
            margin-top: 1rem;

            .main-box {
              align-items: flex-start;
              border-bottom: 1px solid #e3e2e8 !important;
            }
            .border-none {
              border: none !important;
            }

            .main-heading {
              display: none;
            }
          }

          // .sub-head-forth {
          //   font-size: 2rem;
          //   line-height: 1.8;
          //   font-weight: 700;
          //   text-align: left;
          // }
        }

        //............css for radio button

        .first-step,
        .second-step,
        .five-step {
          .secationClass {
            font-size: 13px;
            color: #000000;
            font-weight: 600;
            margin-bottom: -2%;
            text-transform: capitalize;
            margin-top: 3%;
          }

          .radio-wrapper {
            display: flex;
            // width: 50%;
            // margin: 2rem 0;
            flex-direction: row;
            align-items: center;

            .radio-heading {
              width: 165px;
              font-size: 13px;
              font-family: $primary-font-family;
              color: #949494;
            }
            .MuiSvgIcon-root {
              width: 18px;
              height: auto;
            }
            .MuiTypography-body1 {
              font-size: 13px;
              color: #000;
              font-weight: 400;
              font-family: $primary-font-family;
            }
          }

          .contentDiv::-webkit-scrollbar {
            width: 0;
          }
        }
      }

      .final-step-text {
        font-size: 16px;
        color: #000000;
        font-family: $primary-font-family;
      }

      .button-box {
        margin: 20px 0px;
        height: 45px;
        display: flex;

        .home-btn,
        .transcation-btn {
          height: 43px !important;
          width: 15rem !important;
          font-size: 12px !important;
        }
        .icon-home {
          margin-right: 10px;
          width: 17px;
        }

        .create-request-btn,
        .home-btn {
          display: flex;
          height: 45px;
          width: 15rem;
          background-color: #0031ff;
          border-radius: 5px;
          color: #fff;
          font-size: 14px;
          padding: 0px;
          justify-content: center;
          font-family: $primary-font-family;
          text-transform: capitalize;
          // margin-left: 28px;
        }

        .submit-btn {
          background-color: #014cff;
          padding: 5px 45px;
          color: #ffffff;
          margin: 0px 10px;
        }

        .badge-btn {
          background-color: #2f59df;
          border-radius: 5px;
          padding: 5px 25px;
          margin-right: 10px;

          img {
            width: 20%;
          }

          // .status-badge {
          //   width: 140px;
          //   height: 45px;
          // }
        }
      }

      .transcation-btn {
        border: 2px solid #0031ff;
        border-radius: 5px;
        opacity: 1;
        color: #0031ff;
        text-transform: capitalize;
        margin-left: 2%;
      }

      .confirm-btn {
        width: 94px;
        height: 38px;
        font-size: 12px;
        border: 2px solid #0031ff;
        border-radius: 5px;
        opacity: 1;
        color: #0031ff;
        text-transform: capitalize;
      }
    }

    .create-illustration-wrapper {
      width: 35%;
      background-color: #e3e2e8;
      border-radius: 18px;
      // padding: 2rem 1.5rem 4rem 2rem;

      img {
        width: 100%;
      }

      // .illustration-text-wrapper {
      //   width: 100%;
      //   height: 100px;
      //   margin-top: 1rem;

      //   .illustration-text {
      //     width: 100%;
      //     color: #0031ff;
      //     font-size: 25px;
      //     font-family: $primary-font-family;
      //     font-weight: 600;
      //     margin-bottom: 0;
      //   }
      //   .illustration-subtext {
      //     width: 95%;
      //     font-size: 14px;
      //     font-weight: 400;
      //     font-family: $primary-font-family;
      //     margin-bottom: 0.4rem;
      //   }
      //   .width-90 {
      //     width: 90%;
      //   }
      // }
      // .flex-icon {
      //   display: flex;
      //   align-items: flex-start;

      //   .flex-img {
      //     width: 20px;
      //     margin-top: 5px;
      //     margin-right: 10px;
      //   }
      //   .flex-img-sm {
      //     width: 15px;
      //     margin-right: 10px;
      //     margin-top: 5px;
      //   }
      // }
    }
  }
  .required {
    // font-size: 14px;
    height: 1px;
    width: 1px;
    position: relative;
    left: auto;
    top: auto;
    color: #000;
    font-weight: bold;
  }

  @include media(xxlarge) {
    .create-requests-container {
      height: 100vh;
    }
    .card {
      width: 80%;
      margin: 3rem auto 2rem;

      .create-illustration-wrapper {
        img {
          width: 100%;
        }
      }
      .flex-icon {
        height: 25px;

        .flex-img {
          height: 25px;
        }

        .flex-img-sm {
          height: 20px;
          margin-top: 5px;
        }
      }
      .create-step-first {
        .confirm-btn {
          height: 38px;
        }
        .heading-btn {
          width: 20%;
          min-width: 20%;
        }
        .form-step {
          .fourth-step .main-input-box {
            .slider-aside-wrapper {
              margin-top: 8px;
            }
          }
        }
      }
      .form-step {
        .fourth-step .main-input-box {
          .input-area {
            height: 50px;
          }
        }
        .second-step {
          .error-msg {
            color: $app-color-error !important;
            font-size: 11px;
          }
          .main-input-box {
            width: 75%;
          }
          .width-98 {
            width: 90%;
          }
        }
        .five-step {
          .mainDiv {
            margin-top: 10px;
            .contentDiv {
              height: 375px;
            }
          }
        }
      }
    }
  }
  @include media(desktop) {
    .card {
      width: 90%;
      .create-step-first {
        .form-step {
          .second-step {
            .error-msg {
              color: $app-color-error !important;
              font-size: 11px;
            }
            .main-input-box {
              width: 95%;
            }
            .width-98 {
              width: 100%;
              flex-direction: column;

              .input-wrapper {
                width: 95%;
                margin-bottom: 20px;
                .labelClass {
                  font-size: 12px;
                }
              }
              .btn-wrapper {
                width: 95%;
                justify-content: center;
              }
            }
          }

          .third-step {
            .term-condition {
              width: 60%;
            }
          }

          .five-step {
            .table-wrapper {
              flex-direction: column;

              .wid-40 {
                width: 100%;
              }
            }
          }
          .sixth-step {
            .table-wrapper {
              .wid-70 {
                width: 80%;
              }
            }
          }
        }
      }
      .wid-40 {
        width: 55%;
      }
    }
  }

  @include media(tablet) {
    .card {
      .create-step-first {
        padding: 1.5rem 2rem;

        .heading-btn {
          width: 60px;
          min-width: auto;

          .hide {
            display: none;
          }
        }
        .tracker {
          margin: 0 0 15px 0px;
        }

        .form-step {
          margin: 10px 0px;
          .first-step,
          .fourth-step {
            .interest-paragrah{
              width: 90%;
            }
            .box-charges{
              width: 100%;
            }
            .secationClass {
              font-size: 12px;
              color: #000000;
              text-transform: capitalize;
            }
            .main-input-box {
              width: 100%;
              flex-direction: column;
              margin-top: 0;

              .input-wrapper.reason-input {
                width: 60%;
              }

              .input-wrapper {
                width: 100%;
                margin-top: 15px;

                .labelClass {
                  font-size: 12px;
                }
              }
            }
            .main-input-slider {
              flex-direction: row;
              margin-top: 15px;

              .slider-aside-wrapper {
                margin-top: 7px;
              }
            }
            .main-input-box-custom {
              flex-direction: row;
              .input-wrapper-custom {
                width: 70%;
              }
              .input-wrapper-btn {
                width: 25%;
              }
            }
          }
          .second-step {
            .error-msg {
              color: $app-color-error !important;
              font-size: 11px;
            }
            .main-input-box {
              width: 100%;
              flex-direction: column;

              .input-wrapper {
                width: 100%;
                margin-bottom: 15px;

                .labelClass {
                  font-size: 12px;
                }
              }
            }
            .width-98 .btn-wrapper {
              width: 100%;
              flex-direction: column;

              .btn-bg {
                width: 100%;
                margin: 10px 0 0;
              }
            }
            .id-card-box {
              width: 50%;
              min-height: 185px;
              margin: 8px auto;
            }
          }

          .five-step {
            .table-wrapper {
              flex-direction: column;

              .wid-40 {
                width: 100%;
              }
            }
          }

          .sixth-step {
            .table-wrapper {
              .wid-70 {
                width: 100%;
              }
            }
          }
        }
        .button-box .create-request-btn {
          width: 100%;
          // width: 15rem;
          margin-left: 0;
        }
      }
    }
  }

  @media (min-width: 595px) and (max-width: 767px) {
    .main-input-box {
      .slider-input {
        margin-bottom: 2px !important;
      }
    }
  }

  @include media(mobile) {
    .create-requests-container {
      padding-bottom: 0 !important;
    }
    .top-bars {
      display: none;
    }
    .card {
      width: 95%;
      border-radius: 18px;
      margin: 15px auto;
      padding: 0.5rem;

      .create-step-first {
        min-width: 100%;
        padding: 0.5rem;

        .sub-head-forth {
          width: 100%;
          margin: 1rem auto;
        }

        .heading-btn {
          width: 60px;
          min-width: auto;

          .hide {
            display: none;
          }
        }

        .tracker {
          margin: 0 auto;
          width: 100%;

          .status-img {
            width: 30px;
            height: 30px;
          }
        }

        .form-step {
          width: 100%;
          margin: 0px auto;
          .first-step,
          .fourth-step {
            .box-charges{
              width: 100%;
            }
            .secationClass {
              font-size: 12px;
              color: #000000;
              text-transform: capitalize;
            }
            p.error-msg {
              margin: 0 auto;
            }
            .interest-paragrah {
              width: 90%;
            }
            .rs-range-wrapper {
              width: 90%;
              margin: 15px 0px 0;

              .mobile-none {
                display: none;
              }
            }
            .main-input-box {
              width: 100%;
              margin: 0 auto;
              flex-direction: column;
              .input-wrapper {
                width: 100%;
                margin-bottom: 10px;
                .labelClass {
                  font-size: 12px;
                }
              }
              .slider-input {
                margin-bottom: -3px;
              }
              .reason-label {
                // display: block;
                // font-size: 12px;
                // text-align: left;
                // color: #000000;
                // margin-top: 3px;
              }
            }

            .main-input-slider {
              flex-direction: row;
              margin-top: 5px;

              .slider-aside-wrapper {
                margin-top: 1px;
                min-width: 40px;
              }

              .slider-right {
                width: 25%;
                min-width: 40px;
              }
            }

            .main-input-box-custom {
              flex-direction: row;
              .input-wrapper-custom {
                width: 70%;
              }
              .input-wrapper-btn {
                width: 25%;
              }
            }
            .radio-wrapper {
              flex-direction: column;
              .radio-heading {
                text-align: center;
              }
            }
          }

          .second-step {
            .error-msg {
              color: $app-color-error !important;
              font-size: 11px;
            }
            .main-input-box {
              width: 100%;
              flex-direction: column;

              .id-card-box {
                width: 100%;
                margin-bottom: 15px;
              }

              .input-wrapper {
                width: 100%;

                .labelClass {
                  font-size: 12px;
                }
              }
            }

            .width-98 .btn-wrapper {
              width: 100%;
              flex-direction: column;

              .btn-bg {
                width: 100%;
                margin: 10px 0 0;
              }
            }
          }

          .five-step {
            .table-wrapper {
              flex-direction: column;

              .wid-40 {
                width: 100%;
              }
            }
          }

          .third-step {
            .term-condition {
              width: 100%;
            }
          }

          .fourth-step {
            .heading-btn {
              .CTA-icon {
                width: 18px;
              }
            }
          }

          .second-step,
          .sixth-step {
            .table-wrapper {
              width: 100%;
              flex-direction: column;
              .wid-40 {
                width: 100%;
              }
              .wid-70 {
                width: 100%;
              }
              .main-box {
                .value {
                  min-width: 125px;
                }
                .id {
                  min-width: 173px;
                }
              }
            }
            .main-heading {
              display: block;
              font-weight: 400;
              font-size: 2.6rem;
              margin: 2rem auto;
              color: #000;
              text-align: center;
            }
          }
        }

        .button-box {
          flex-direction: column-reverse;
          height: auto;
          .blue-btn {
            width: 100%;
            margin: 0 auto;
          }
          .home-btn,
          .transcation-btn {
            width: 100% !important;
            margin-left: 0;
            margin-top: 10px;
          }
        }
        .confirm-btn {
          width: 75px;
        }
      }

      .create-illustration-wrapper {
        display: none;
      }
    }
  }
}

.error-msg {
  @include error;
}
