@import '../../styles/core.scss';
.help-content-container {
  display: flex;
  flex-direction: row;
  margin-left: 98px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 60px;
  background: #fafafc;
  //   justify-content: space-between;
}

.help-section {
  display: flex;
  flex-direction: column;
  margin-left: 3rem;
  flex: 1;

  &-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #000000;
  }
}

.fix-a-problem-section {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: row;

  &-primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
  }

  &-secondary {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 18px 0px 6px 22px;
    cursor: pointer;
  }
}
.text {
  font-size: 14px;
  color: #000000;
  text-align: flex-start;
  margin: 0px 0px 0px 1rem;
}

.faq-section {
  display: flex;
  flex-direction: column;
  // margin-top: 1.5rem;
}

.support-section {
  display: flex;
  flex-direction: column;
  //   margin-right: 200px;
  flex: 1;
}

.answer-container {
  display: 'flex';
  flex-direction: column;
  font-size: 12px;
  margin-left: 3.5rem;
  background-color: #f2f2f2;
  color: #4d4949;
}

.support-phrase-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;

  &-question {
    font-size: 12px;
    color: #000000;
    text-align: left;
    margin-bottom: 0;
  }

  &-answer {
    font-size: 12px;
    color: #707070;
    text-align: left;
    margin-bottom: 20px;
  }
}

.support-form-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 2px #8d8a8a1a;
  background-color: #fafafc;
  border-radius: 18px;
}

.support-form {
  margin: 1.5rem 7rem 2rem 3rem;

  &-title {
    font-size: 16px;
    color: #000000;
    text-align: left;
    margin-right: 7rem;
  }
}

.number-container {
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
  margin-bottom: 34px;
}
.label {
  font-size: 12px;
  color: #98979d;
  text-align: left;
  margin-bottom: 0px;
}

.input-field {
  border: none;
  outline: none;
  font-weight: bold;
  margin-top: 0px;
}

.input-field::-webkit-input-placeholder {
  color: #000000;
  font-weight: normal;
  font-weight: 12px;
  font-style: normal;
  // text-align: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  margin-right: 7rem;
  width: 220px;
}
.input-area {
  border: none;
  outline: none;
  font-weight: bold;
  margin-top: 0px;
}

.input-area::-webkit-input-placeholder {
  color: #000000;
  font-weight: normal;
  font-weight: 12px;
  font-style: normal;
  // text-align: center;
}

.submit-btn-container {
  width: 70%;
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
}
.submit-btn {
  display: flex;
  height: 45px;
  width: 11rem;
  background-color: #0031ff;
  border-radius: 5px;
  border-color: #0031ff;
  color: #fff;
  font-size: 14px;
  padding: 0px;
  justify-content: center;
  // text-align: center;
  //   font-family: $primary-font-family;
  // text-transform: capitalize;
  align-items: center;
}

.submit-btn:hover {
  background-color: #004cff;
  color: #fff;
}

.error-msg {
  color: red;
  font-size: 12px;
}

@include media(mobile) {
  .help-content-container {
    display: flex;

    flex-direction: column;
    width: 100vw;
    margin: 0;
    overflow: hidden;
  }
  .help-section {
    width: 100vw;
    height: 500px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .faq-section {
    padding-bottom: 26px;
  }
  .fix-a-problem-section {
    margin-left: 0px;
  }

  .text {
    letter-spacing: 0px;
    text-align: left;
  }

  .heading-secondary {
    margin-top: 5px;
    width: 80%;
  }

  .support-section {
    width: 100vw;
    height: 500px;
    margin-left: 10px;
  }

  .support-form {
    margin: 0;
  }

  .input-field {
    width: 95vw;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #98979d;
    margin-top: 10px;
  }

  .input-field::-webkit-input-placeholder {
    color: #98979d;
    font-weight: normal;
    font-weight: 12px;
    font-style: normal;
    align-items: center;
    padding-left: 20px;
    // text-align: center;
  }

  .input-area {
    background: #f8f8f9;
    height: 180px;
    width: 95vw;
    border-radius: 10px;
  }

  .submit-btn-container {
    width: 90vw;
  }
  .submit-btn {
    width: 100vw;
  }
}
