@import '../../styles/core.scss';

.info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 4px;
  //   align-items: center;

  .label-container {
    .label {
      //   margin-right: 3rem;
      color: #b5b5b8;
      padding: 0;
      font-size: 10px;
      margin: 0;
      font-weight: bold;
    }
  }

  .value-container {
    display: flex;
    align-items: center;
    .value {
      padding: 0;
      margin: 0;
      font-size: 12px;
      color: black;
    }

    .edit-icon {
      width: 2.5rem;
      height: 2.5rem;
      margin-left: 2rem;
      cursor: pointer;
    }

    .input-box {
      width: 100%;
      height: 3rem;
      margin: 0.8rem 0;
    }
  }
}
